archive/non-core-20251014/n8n/workflows/basic-extraction.json
{
  "name": "Quebec Registry - Basic Extraction",
  "nodes": [
    {
      "parameters": {},
      "id": "d5b5c2a8-3e4a-4c1a-b8d3-7e9f8a6c5d4b",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://registre-extractor-api:3000/api/extractions",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lot_number\": \"{{ $json.lot_number }}\",\n  \"circumscription\": \"{{ $json.circumscription || 'Montréal' }}\",\n  \"cadastre\": \"{{ $json.cadastre || 'Cadastre du Québec' }}\",\n  \"priority\": \"{{ $json.priority || 'normal' }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Create Extraction Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://registre-extractor-api:3000/api/extractions/{{ $node[\"Create Extraction Job\"].json.extraction_id }}",
        "authentication": "none",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Check Extraction Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "document_url",
              "value": "={{ $node[\"Check Extraction Status\"].json.document_url }}"
            },
            {
              "name": "lot_number",
              "value": "={{ $node[\"Check Extraction Status\"].json.lot_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Wait 30s More",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Create Extraction Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Extraction Job": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Check Extraction Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Extraction Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Success Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s More",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s More": {
      "main": [
        [
          {
            "node": "Check Extraction Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "registre-extraction-basic"
}